body {
    background: #f5f5f5;
}

.sign-out {
    max-width: 50px;
    margin: 0 auto;
    padding: 0 8px 8px;
}

.main-layout {
    max-width: 500px;
    margin: 0 auto;
    padding: 0 16px 16px;

}
