@import url('https://fonts.googleapis.com/css?family=Poiret+One');
@import url('https://fonts.googleapis.com/css?family=Rubik');

* {
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
}

body {
    font-size: 1em;

    background: linear-gradient(45deg, #7ce3f3, #f3ba6a);
    background-size: 400% 400%;

    -webkit-animation: animatedBackground 8s ease infinite;
    -moz-animation: animatedBackground 8s ease infinite;
    -o-animation: animatedBackground 8s ease infinite;
    animation: animatedBackground 8s ease infinite;
}

@-webkit-keyframes animatedBackground {
    0%{background-position:67% 0%}
    50%{background-position:34% 100%}
    100%{background-position:67% 0%}
}
@-moz-keyframes animatedBackground {
    0%{background-position:67% 0%}
    50%{background-position:34% 100%}
    100%{background-position:67% 0%}
}
@-o-keyframes animatedBackground {
    0%{background-position:67% 0%}
    50%{background-position:34% 100%}
    100%{background-position:67% 0%}
}
@keyframes animatedBackground {
    0%{background-position:67% 0%}
    50%{background-position:34% 100%}
    100%{background-position:67% 0%}
}

header {
    font-family: 'Poiret One', cursive;
    font-size: 6em;
    text-align: center;
    user-select: none;
}

.main-wrapper {
    position: relative;
    margin: 10vh auto 0;
    height: 80vh;
    /*padding-bottom: 10vh;*/
    width: 84vw;
    max-width: 820px;
}

.todo-list {
    height: calc(80vh - 6em - 10px - 70px - 50px - 40px - 20px);
    margin-bottom: 40px;
    padding: 0 2vw;
    overflow-y: scroll;
    overflow-x: visible;
}

.todo-list::-webkit-scrollbar {
    display: none;
}

.todo-creator {
    margin-bottom: 10px;
}

.todo-creator__input:focus,
.todo-creator__addButton:focus,
.todo-item__delete-button:focus,
.todo-toolbar__button:focus,
.todo-item__edit-button:focus {
    outline: none;
    border: 2px dodgerblue solid;
}

.todo-list__list {
    flex-grow: 1;
}

.todo-list__wrapper {
    overflow: auto;
}

.todo-list__emptyFiller {
    display: none;
    color: rgba(141, 141, 141, 0.36);
    width: 100%;
    margin-top: 25%;
    user-select: none;
    text-align: center;
    font-style: italic;
    font-size: 2em;
}

.todo-list__emptyFiller:nth-child(2) {
    display: block;
}

.todo-item__delete-button {
    box-sizing: border-box;
}

.todo-item:first-child {
    display: none;
}

.todo-item {
    font-family: 'Rubik', sans-serif;
    background-color: rgba(231, 221, 196, 0.4);
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    /*height: 40px;*/
    box-sizing: border-box;
    width: 100%;
    border-radius: 20px;
    transition: margin-bottom 0.5s, visibility 0.5s, height 0.5s, opacity 0.5s ease-out;
}

.todo-item.hidden {
    margin-bottom: 0;
    opacity: 0;
    height: 0;
}

.todo-item__checked {
    text-decoration: line-through;
    opacity: 0.4;
}

.todo-item:hover {
    transform: scale(1.02);
    -webkit-filter: hue-rotate(50deg);
    -moz-filter: hue-rotate(50deg);
    filter: hue-rotate(50deg);
}

.todo-item:hover > .todo-item__delete-button,
.todo-item:hover > .todo-item__edit-button,
.todo-item__delete-button:focus,
.todo-item__edit-button:focus {
    /*display: inline-block;*/
    opacity: 1;
}

.todo-item__delete-button,
.todo-item__edit-button {
    background-color: transparent;
    /*display: none;*/
    opacity: 0;
    border: none;
    min-width: 30px;
    min-height: 30px;
    cursor: pointer;
    border-radius: 50%;
}

.todo-item__delete-button {
    transform: rotate(45deg);
    background-image: url("cross.png");
    background-position: center;
    margin: 5px 5px 5px 5px;
}

.todo-item__edit-button {
    /*box-sizing: content-box;*/
    padding: 4px;
    background-image: url("edit-icon.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-origin: content-box;
    /*background-color: black;*/
    margin: 5px 0 5px 5px;
}

.todo-item__delete-button:hover {
    transform: rotate(45deg) scale(1.1);
}

.todo-item__checkbox-container {
    display: inline-block;
    position: relative;
    cursor: pointer;
    padding: 20px 20px 20px 25px;
    /*box-sizing: border-box;*/
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

.todo-item__checkbox, .todo-item__checkbox-mark {
    box-sizing: border-box;
    top: 5px;
    left: 5px;
    height: 30px;
    width: 30px;
}

.todo-item__checkbox {

    position: absolute;
    opacity: 0;
    z-index: 1;
    cursor: pointer;

    /*appearance: none;*/
    /*background-image: none;*/
    /*background-color: transparent;*/
    /*border-radius: 50%;*/
    /*width: 30px;*/
    /*height: 30px;*/
    /*margin: 5px 10px 5px 5px;*/
}

.todo-item__checkbox-mark {
    position: absolute;
    border-radius: 50%;
    background-color: #eee;
}

.todo-item__checkbox-container .todo-item__checkbox:checked ~ .todo-item__checkbox-mark {
    background: lightgreen;
}

.todo-item__checkbox-container .todo-item__checkbox:focus ~ .todo-item__checkbox-mark {
    border: 2px dodgerblue solid;
}

.todo-item__checkbox-mark:after {
    content: "";
    position: absolute;
    display: none;
}

.todo-item__checkbox-container .todo-item__checkbox:checked ~ .todo-item__checkbox-mark:after {
    display: block;
}

.todo-item__checkbox-container .todo-item__checkbox-mark:after {
    left: 10px;
    top: 4px;
    width: 7px;
    height: 14px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.todo-item__checkbox-container .todo-item__checkbox:focus ~ .todo-item__checkbox-mark:after {
    top: 2px;
    left: 8px;
}

.todo-item__text:focus {
    user-select: text;
    padding: 5px;
    font-size: 1.1em;
}

.todo-item__text {
    word-break: break-word;
    flex-grow: 1;
    font-size: 1em;
    transition: padding 0.5s, font-size 0.5s ease-out;
    user-select: none;
}

.todo-creator {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 10px calc(5px + 2vw);
}

.todo-creator__input {
    font-family: 'Rubik', sans-serif;
    font-size: 1.2em;
    flex-grow: 1;
    padding: 5px 10px;
    border-radius: 20px;
    border: none;
    height: 30px;
}

.todo-creator__input::placeholder {
    font-style: italic;
    color: rgba(187, 207, 211, 0.87);
}

.todo-creator__input::selection {
    background: #7cc9ff;
    color: white;
}

.todo-creator__addButton {
    background-color: transparent;
    border: none;
    background-image: url("cross.png");
    background-position: center;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
    height: 30px;
    width: 30px;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 50%;
    transition: transform 0.5s ease-in-out;
}

.todo-creator__addButton:hover {
    transform: rotate(180deg);
}

.todo-toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*position: absolute;*/
    width: 100%;
    padding: 0 25%;
    box-sizing: border-box;
    height: 50px;
    /*bottom: 0;*/
}

.todo-toolbar__button {
    font-family: Rubik, serif;
    /*font-size: 1.1em;*/
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    border-radius: 20px;
    background-color: #eeeeee;
    border: 1px lightgrey solid;
    height: 40px;
    width: 80px;
}

.todo-toolbar__button:hover {
    transform: translate(-3px, -3px);
    box-shadow: 4px 4px 5px rgba(30, 144, 255, 0.5);
}

.todo-toolbar__button:active {
    background-color: #7cc9ff;
}

@media screen and (max-aspect-ratio: 1/1) {

    body {
        font-size: 1.5em;
    }

    header {
        font-size: 4em;
    }

    .main-wrapper {
        margin: 0;
        width: 100vw;
        max-width: 100%;
        height: 100vh;
    }

    .todo-list {
        height: calc(100vh - 4em - 10px - 70px - 50px - 40px - 10px);
        margin-bottom: 10px;
    }

    .todo-item {
        background-color: rgba(230, 224, 219, 0.54);;
    }

    .todo-toolbar {
        position: fixed;
        padding: 0 0;
        height: 80px;
    }

    .todo-item__checkbox-container {
        margin: 20px 20px;
        transform: scale(1.8);
    }

    .todo-item__delete-button {
        visibility: visible;
        margin: 20px 20px;
        opacity: 1;
        transform: scale(1.8) rotate(45deg);
    }

    .todo-item__edit-button {
        visibility: visible;
        margin: 20px 20px;
        opacity: 1;
        transform: scale(1.8);
    }

    .todo-item__edit-button:hover {
        margin: 20px 20px;
    }

    .todo-item__delete-button:hover
    {
        margin: 20px 20px;
        transform: scale(1.8) rotate(45deg);
    }

    .todo-toolbar__button {
        width: 33%;
        box-sizing: border-box;
        height: 100%;
        font-size: 1.1em;
    }

    .todo-creator__input {
        padding: 10px 5px;
    }

    .todo-creator__addButton {
        margin: 20px 10px 20px 20px;
        transform: scale(1.8);
    }

    .todo-creator__addButton:hover {
        transform: scale(1.8);
    }

}