@import url('https://fonts.googleapis.com/css?family=Fascinate+Inline');

* {
    padding: 0;
    margin: 0;
    font-family: "Courier New", "Arial", sans-serif;
    }

body {
    background-color: dodgerblue;
    }

ul {
    list-style: none;
    }

.todo {
    position: relative;
    width: 60%;

    margin-left: auto;
    margin-right: auto;
    }

.todo-header {
    text-align: center;
    font-size: 4em;
    font-family: 'Fascinate Inline', 'Arial', cursive;
    }

.todo-creator {
    display: flex;
    }

.todo-creator_text {
    flex: 9 1 90%;
    border: 0;
    padding: 5px;
    font-size: 1.2em;
    background: white;
    font-family: "Courier New", "Arial", sans-serif;
    }

.todo-creator_button {
    flex: 1 9 10%;
    border: none;
    background-color: black;
    color: white;
    }

.todo-creator_button:hover {
    background-color: lightblue;
    }

.todo-creator_button:active {
    background-color: dodgerblue;
    }

.btn_logout {
    position: absolute;
    bottom: 20px;
    right: 20px;
    }

input[value="Sign Out"] {
    border: none;
    background-color: black;
    color: white;
    padding: 5px;
    }

input[value="Sign Out"]:hover {
    background-color: lightblue;
    }

input[value="Sign Out"]:active {
    background-color: dodgerblue;
    }

.todo-list {
    max-height: 500px;
    overflow: hidden;
    margin-top: 5px;
    margin-bottom: 5px;
    }

.todo-list:hover {
    overflow: auto;
    }

.todo-list_item {
    display: flex;
    margin-top: 5px;
    /*background-color: white;*/
    height: auto;
    }

.todo-list:first-child {
    margin-top: 0;
    }

.todo-list-item_checkbox {
    flex: 1 9 10%;
    border-radius: 0;
    height: 28px;
    align-self: center;
    background-color: transparent;
    }

.todo-list-item_text {
    flex: 8 2 80%;
    resize: none;
    min-height: auto;
    word-break: break-word;
    max-height: 200px;
    padding: 5px;
    overflow: hidden;
    border: none;
    background-color: white;
    }

.todo-list-item_text:focus,
.todo-list-item_text:hover {
    overflow: auto;
    overflow-x: hidden;
    }

.todo-list-item_delete {
    flex: 1 9 10%;
    opacity: 0;
    border: none;
    background-color: black;
    color: white;
    }

.todo-list-item_delete:hover {
    background-color: lightblue;
    }

.todo-list-item_delete:active {
    background-color: dodgerblue;
    }

.todo-list_item:hover > .todo-list-item_delete,
.todo-list-item_delete:focus {
    opacity: 1;
    }

.todo-filters {
    display: flex;
    justify-content: space-evenly;
    }

.filter-button {
    border: 0;
    background-color: black;
    color: white;
    padding: 5px;
    }

.filter-button:hover {
    background-color: lightblue;
    }

.filter-button:active {
    background-color: dodgerblue;
    }

.template {
    display: none;
    }

.hidden {
    display: none;
    }

.invisible {
    visibility: hidden;
    }