
.todo-board {
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);

    position: relative;
}

.todo-board:before,
.todo-board:after {
    /*content: '';*/
    position: absolute;
    top: 100%;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    z-index: -1;
}

.todo-board.__has-content:before,
.todo-board.__has-content:after {
    content: '';
}

.todo-board:before {
    left: 8px;
    right: 8px;
    height: 10px;
}

.todo-board:after {
    left: 4px;
    right: 4px;
    height: 5px;
}

.todo-board .todos-list,
.todo-board .todos-toolbar {
    display: none;
}

.todo-board.__has-content .todos-list {
    display: block;
    min-height: 305px;
}

.todo-board .todo-creator .todo-creator_check-all {
    visibility: hidden;
}

.todo-board.__has-content .todo-creator .todo-creator_check-all {
    visibility: visible;
}

.todo-board.__has-content .todos-toolbar {
    display: flex;
}


.todo-creator {
    /*padding: 16px 16px;*/
    padding: 16px 18px;
    border-bottom: 1px solid #e6e6e6;
}

.todo-creator:after {
    content: '';
    display: table;
    clear: both;
}

.todo-creator_check-all {
    float: left;
    /*margin-right: 16px;*/
    margin-right: 18px;
    margin-top: 11px;

    padding: 0;

    width: 24px;
    height: 12px;

    border: none;
    outline: none;


    background: url(../../../images/select-all.png) no-repeat 0 0;
}

.todo-creator_check-all:hover {
    cursor: pointer;
}

@media (-webkit-min-device-pixel-ratio: 1.5),
(min-resolution: 120dpi),
(min-resolution: 1.5dppx) {
    .todo-creator_check-all {
        background: url(../../../images/select-all@2x.png) no-repeat 0 0;
        background-size: contain;
    }
}

.todo-creator_text-input-w {
    overflow: hidden;
}

.todo-creator_text-input {
    border: none;
    background: none;
    outline: none;
    width: 100%;
    /*box-sizing: border-box;*/
    font-size: 24px;
    color: #666;
    font-weight: 300;
    font-family: HelveticaNeueItalic, Arial, sans-serif;
}

.todo-creator_text-input::-webkit-input-placeholder {
    font-style: italic;
    color: #ccc;
}

.todo-creator_text-input:-moz-placeholder {
    font-style: italic;
    color: #ccc;
}

.todo-creator_text-input::-moz-placeholder {
    font-style: italic;
    color: #ccc;
}

.todo-creator_text-input:-ms-input-placeholder {
    font-style: italic;
    color: #ccc;
}


.todo-title {
    font-family: HelveticaNeue, Arial, sans-serif;
    font-size: 100px;
    font-weight: 100;
    text-transform: lowercase;
    text-align: center;
    color: rgba(175, 47, 47, 0.15);

    margin: 8px 0;
}


.todos-list_item:hover {
    background-color: #fafafa;
    cursor: pointer;
}

.todos-list_item:hover .todos-list_item_text {
    background-color: #fafafa;
}

.todos-list_item {
    /*padding: 16px;*/
    padding: 12px;
    border-bottom: 1px solid #e6e6e6;
}

.todos-list_item:after {
    content: '';
    clear: both;
    display: table;
}

.todos-list_item.__no-border {
    border-bottom: 0;
}

.todos-list_item.__completed > .todos-list_item_text-w > .todos-list_item_text {
    text-decoration: line-through;
    color: #cccccc;
}

.todos-list_item.__hidden {
    display: none;
}

.todos-list_item_ready-marker {
    float: left;
    /*margin-right: 16px;*/
    margin-right: 12px;
}

.todos-list_item_text-w {
    overflow: hidden;
    padding-top: 4px;
}

.todos-list_item_text {
    transition: color 0.4s;
    width: 100%;
    padding: 0;
    resize: none;
    border: none;
    outline: none;
    font-size: 24px;
    font-family: HelveticaNeueLight, Arial, sans-serif;
    color: #666666;
    overflow-y: hidden;
    overflow-x: hidden;
}

.todos-list_item_text:hover {
    cursor: text;
}

.todos-list_item_remove {
    float: right;
    margin-left: 16px;
    width: 18px;
    height: 18px;
    background: url("../../../images/close.png") no-repeat 0 0;
    border: none;
    outline: none;
    margin-top: 10px;
    /*display: none;*/
    visibility: hidden;
}

.todos-list_item_remove:hover {
    cursor: pointer;
}

.todos-list_item:hover .todos-list_item_remove {
    /*display: block;*/
    visibility: visible;
}

@media (-webkit-min-device-pixel-ratio: 1.5),
(min-resolution: 120dpi),
(min-resolution: 1.5dppx) {
    .todos-list_item_remove {
        background: url(../../../images/close@2x.png) no-repeat 0 0;
        background-size: contain;
    }
}

.todos-toolbar {
    border-top: 1px solid #e6e6e6;
    padding: 12px;
}

.todos-toolbar.__no-border {
    border-top: 0;
}

.todos-toolbar_unready-counter {
    font-size: 14px;
    font-family: HelveticaNeueLight, Arial, sans-serif;
    color: #888888;
    margin: auto auto auto 0;
}

.filters.todos-toolbar_filters {
    text-align: center;
}

.todos-toolbar_clear-completed {
    border: none;
    outline: none;
    background: none;
    font-size: 14px;
    color: #888888;
    font-family: HelveticaNeueLight, Arial, sans-serif;
    margin-left: auto;
    float: right;
}

.todos-toolbar_clear-completed.__hidden {
    visibility: hidden;
}

.todos-toolbar_clear-completed:hover {
    cursor: pointer;
    text-decoration: underline;
}

.todos-toolbar_filters .filters-item {
    outline: none;
    background: none;
    font-size: 14px;
    color: #888888;
    border: 1px solid transparent;
    font-family: HelveticaNeueLight, Arial, sans-serif;
}

.filters-item:hover {
    cursor: pointer;
    border-color: rgba(175, 47, 47, 0.1);
}

.filters-item {
    padding: 3px 7px;
    border-radius: 3px;
}

.todos-toolbar_filters .filters-item.__selected {
    border: 1px solid #ebdfdf;
}

html, body, div, h1, h2 {
    margin: 0;
    padding: 0;
}

body {
    background: #f5f5f5;

}

.main-layout {
    max-width: 560px;

    margin: 0 auto;
    padding: 0 16px 16px;
    /*background: #f00;*/
}

.custom-checkbox {
    display: inline-block;
    position: relative;
}

.custom-checkbox_target {
    position: absolute;
    width: 100%;
    height: 100%;
    background: none;
    outline: none;
    border: none;
    opacity: 0;
    padding: 0;
    margin: 0;
    border-radius: 50%;
    z-index: 1;
}

.custom-checkbox_visual {
    width: 36px;
    height: 36px;
    box-sizing: border-box;
    border: 1px solid #e6e6e6;
    border-radius: 50%;
    position: relative;
}

.custom-checkbox_target:checked ~ .custom-checkbox_visual {
    border-color: #5dc2af;
}

.custom-checkbox_target:hover {
    cursor: pointer;
}

.custom-checkbox_target:checked ~ .custom-checkbox_visual .custom-checkbox_visual_icon {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -10px;
    background: url(../../../images/completed.png) no-repeat 0 0;
}

@media (-webkit-min-device-pixel-ratio: 1.5),
(min-resolution: 120dpi),
(min-resolution: 1.5dppx) {
    .custom-checkbox_target:checked ~ .custom-checkbox_visual .custom-checkbox_visual_icon {
        background: url(../../../images/completed@2x.png) no-repeat 0 0;
        background-size: contain;
    }
}

.todos-list_item + .custom-checkbox_target:checked ~ .todos-list_item_text-w > .todos-list_item_text {
    text-decoration: line-through;
}

.logout_button {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 36px;
    border-radius: 18px;
    font-size: 18px;
    border: solid 1px transparent;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    color: #666;
    cursor: pointer;
}
