@import url('https://fonts.googleapis.com/css?family=Fascinate+Inline');

* {
    padding: 0;
    margin: 0;
    }

ul {
    list-style: none;
    }

.todo {
    position: relative;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    }

.todo-header {
    text-align: center;
    font-size: 4em;
    font-family: 'Fascinate Inline', 'Arial', cursive;
    }

.todo-creator {
    display: flex;
    }

.todo-creator_text {
    flex-grow: 9;
    }

.todo-creator_button {
    flex-grow: 1;
    }

.todo-list_item {
    display: flex;
    margin-bottom: 10px;
    }

.todo-list_item:last-child {
    margin-bottom: 0;
    }

.todo-list-item_checkbox {
    flex: 0 0 10%;
    }

.todo-list-item_text {
    flex: 0 0 80%;
    resize: none;
    max-height: 400px;
    overflow: auto;
    border: none;
    }

.todo-list-item_delete {
    flex: 0 0 10%;
    }

.todo-filters {
    display: flex;
    justify-content: space-evenly;
    }

.template {
    display: none;
    }

.hidden {
    display: none;
    }

.invisible {
    visibility: hidden;
    }