<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>TODO MVC</title>
    <link rel="stylesheet" href="styles/index.css">


    <script type="text/html" id="todoItemTemplate">
        <div class="todos-list_item {checked ? __checked :  }">
            <div class="custom-checkbox todos-list_item_ready-marker">
                <input type="checkbox" class="custom-checkbox_target jsTodoCheckbox" {checked ? checked :  } aria-label="Mark todo as ready" />
                <div class="custom-checkbox_visual">
                    <div class="custom-checkbox_visual_icon"></div>
                </div>
            </div>
            <div class="remove-button todos-list_item_remove">
                <button class="remove-button_target jsTodoRemove" aria-label="Delete todo"></button>
                <div class="remove-button_icon"></div>
            </div>
            <div class="todos-list_item_text-w">
                <div class="todos-list_item_text">{text}</div>
            </div>
        </div>
    </script>

</head>
<body>


<div class="main-layout">

    <h1 class="todo-title">todos</h1>

    <div class="todo-board __has-content">

        <div class="todo-creator">
            <button class="todo-creator_check-all jsTodoCheckAllAsDone" aria-label="Check all items as done"></button>
            <form class="todo-creator_text-input-w">
                <input class="todo-creator_text-input jsTodoText" type="text" placeholder="What needs to be done?"
                       aria-label="Input new todo name"/>
            </form>
        </div>

        <div class="todos-list">
            <!-- JS generated -->
        </div>

        <div class="todos-toolbar">
            <div class="todos-toolbar_unready-counter">3 items left</div>
            <div class="filters todos-toolbar_filters">
                <button class="filters-item __selected" aria-label="Filter: All, is selected">All</button>
                <button class="filters-item" aria-label="Filter: Active">Active</button>
                <button class="filters-item" aria-label="Filter: Completed">Completed</button>
            </div>
            <button class="todos-toolbar_clear-completed">Clear completed</button>
        </div>

    </div>

</div>

<script type="module" src="js/index.js"></script>

</body>
</html>