<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Todo MVC</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
</head>

    <body>
      <div class="main-layout">
        <h1 class="todo-title">todos</h1>
        <div class="todo-board"></div>
      </div>
    <script type="text/javascript" th:src="@{/js/main.js}"></script>
    </body>
</html>