<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

    <link rel="stylesheet" href="styles/default.css">
    <title>Todo app</title>
</head>
<body>
<div class="main-wrapper">
    <div class="todos-header">
        <div class="todos-title">
            todos
        </div>
        <div class="todos-user">
            Hello, <span th:text="${user}"></span>
            <form class="todos-user-logout" th:action="@{/logout}" method="POST">
                <input type="submit" value="Logout"/>
            </form>
        </div>
    </div>
    <div class="todos-main">
        <div class="todo-add">
            <button class="todo-add_select-all"
                    aria-label="Отметить все как выполненные">
            </button>
            <input type="text"
                   class="text-input todo-add_input"
                   placeholder="What needs to be done?"
                   checked="checked"
                   aria-label="Добавить todo"/>
        </div>
        <div class="todo-list">
            <div class="todo-item"
                 th:attr="data-id=${todo.getId()}"
                 th:each="todo : ${todos}"
                 th:classappend="${todo.isReady()} ? __ready : ''">
                <div class="input-checkbox todo-item_complete">
                    <input type="checkbox"
                           class="input-checkbox_target"
                           aria-label="Отметить todo как невыполненное"
                           th:checked="${todo.isReady()}"/>
                    <div class="input-checkbox_visual"></div>
                </div>
                <button class="todo-item_remove"
                        aria-label="Удалить todo">
                </button>
                <div class="text-input todo-item_text"
                     contentEditable="true"
                     spellcheck="false"
                     th:text="${todo.getDescription()}">
                </div>
            </div>
        </div>
        <div class="todos-action-bar">
            <div class="todos-action-bar_counter"
                 aria-label="Количество невыполненных todo"
                 th:text="${todos.size()} + ' items'">
            </div>
            <div class="todos-filters">
                <button class="todos-filter __active"
                        data-filter="all"
                        aria-label="Показать все">
                    All
                </button>
                <button class="todos-filter"
                        data-filter="active"
                        aria-label="Показать невыполненные">
                    Active
                </button>
                <button class="todos-filter"
                        data-filter="completed"
                        aria-label="Показать выполненные">
                    Completed
                </button>
            </div>
            <button class="todos-action-bar_clear-completed">
                Clear completed
            </button>
        </div>
    </div>
    <div class="todos-bottom">
        <div class="todos-bottom-shadow todos-bottom-shadow-first"></div>
        <div class="todos-bottom-shadow todos-bottom-shadow-second"></div>
    </div>
</div>
<script src="scripts/bundle.js"></script>
<script type="text/html" id="todoItemTemplate">
    <div class="todo-item">
        <div class="input-checkbox todo-item_complete">
            <input type="checkbox"
                   class="input-checkbox_target"
                   aria-label="Отметить todo как невыполненное"/>
            <div class="input-checkbox_visual"></div>
        </div>
        <button class="todo-item_remove"
                aria-label="Удалить todo">
        </button>
        <div class="text-input todo-item_text"
             contentEditable="true"
             spellcheck="false">
        </div>
    </div>
</script>
</body>
</html>